/* style sheet created by: Jared Gaertner, 11/10/2017 */

/* style for the body specifies a backgorund color */
body {
	background-color: #A9A9A9;
}


nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}

nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

}

nav li {
	background-color: #FF0000;
	border-radius: 5em;
	list-style-type: none;
	margin: 0.3em;
	padding: 0.4em;
}

nav li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 60px;
}

header {
	background-color: #FF0000;
	margin-top: 0.2em;
	border-radius: 2em;
	text-align: center;
}

main {
	background-color: #FFFFFF;
	
}

main ul {
	border-radius: 1em;
	padding: 1em;
}
	
#menu {
    font-family: Comic Sans MS;
}

#menu ul{
	list-style: none;
	padding: 1em;
	margin: 1em;
}
	
#menu li {
	display: inline-block;
	padding: 1em;
	font-size: 1.2em;
}

table {
    border: 0.1em solid #000000;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

th, td {
    border: 0.1em solid #000000;
    padding: 1em;
    background-color: #FFFFFF;
}

th {
    background-color: #1D1D1C;
    color: #FFFFFF;
}

#radiusTitle {
    background-color: #000000;
    border-radius: 2em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
    color: #FFFFFF;
    text-align: center;
    font-family: Comic Sans MS;
}

img {
    border-radius: 1em;
    background-color: #2f2f2f;
    float: none;
    padding: 1em;
    margin: 1em;

}

#radius {
     background-color: #373737;
    border-radius: 2em;
    list-style-type: none;
    margin: 1em;
    padding: .75em;
    color: #FFFFFF;
    text-align: left;
    font-family: Comic Sans MS;
}

#Explain {
     background-color: #000000;
    border-radius: .75em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
    color: #FFFFFF;
    text-align: center;
    font-family: Comic Sans MS;
}

main {
    background-color: #A9A9A9;
}

#stores {
    padding: 1em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.4em;
    font-family: Comic Sans MS;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #000000;
}

#radius2 {
     background-color: #373737;
    border-radius: 2em;
    list-style-type: none;
    margin: 1em;
    padding: .75em;
    color: #FFFFFF;
    text-align: left;
    font-size: 2em;
}

table {
    font-family: Comic Sans MS;
}